/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

#overview {
  background: url('images/overview.jpeg') center/ cover no-repeat border-box,
    #949494;
  width: 100%;
  height: 55vh;
  position: relative;
  /* top: -3.5rem; */
  /* background-image: url('images/overview.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:0% 150%;
  background-size: cover; */
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#apresentation {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 0, 0);
}

#image-slider {
  margin: 0 auto;
  width: 95%;
}

.image-slider-images img {
  width: 100%;
}

.mySlides {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.section-title {
  color: #000000;
  text-align: center;
}

#comfort {
  text-align: center;
}

.comfort_table {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.comfort_table td {
  padding: 0 1rem;
}

.comfort_table td h4 {
  display: inline;
}

.comfort_table td svg {
  width: 18px;
  height: 18px;
}

.btnComodidades {
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #77d42a),
    to(#5cb811)
  );
  background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #306108;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
  margin-top: 2rem;
}
.btnComodidades:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #5cb811),
    to(#77d42a)
  );
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.btnComodidades:active {
  position: relative;
  top: 1px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-comodidades {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
  max-width: 80rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: 80%;
  overflow-y: scroll;
  border-radius: 0% 0% 2% 2%;
}

@media (min-width: 992px) {
  .modal-content-comodidades {
    width: 60vw;
    max-width: 80rem;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.closeComodidades {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeComodidades:hover,
.closeComodidades:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5c65b8;
  color: white;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 80vw;
  max-width: 80rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@media (min-width: 992px) {
  .modal-header {
    width: 60vw;
    max-width: 80rem;
  }
}

.modal-body {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.modal-body_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-body_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 10px;
}

.modal-body_svg_and_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 15px auto;
}

.modal-body_svg_and_description svg {
  height: 30px;
  width: 30px;
  margin: auto 10px;
  min-width: 30px;
}

.modal-body_svg_and_description p {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

hr.solid {
  margin: 0;
  border-top: 1px solid #bbb;
  width: 100%;
}

#gallery {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  #gallery {
    margin-bottom: 150px;
  }
}

.gallery-images {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr
    1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-images > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.gallery-images > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.gallery-images > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.gallery-images > *:nth-child(25) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(26) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(27) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(28) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(29) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(30) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(31) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(32) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.gallery-images > *:nth-child(33) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(34) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(35) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(36) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(37) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(38) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(39) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(40) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.gallery-images > *:nth-child(41) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.gallery-images > *:nth-child(42) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.gallery-images > *:nth-child(43) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.gallery-images > *:nth-child(44) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.gallery-images > *:nth-child(45) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.gallery-images > *:nth-child(46) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.gallery-images > *:nth-child(47) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.gallery-images > *:nth-child(48) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}
@media (min-width: 475px) and (max-width: 767px) {
  .gallery-images {
    gap: 2.1rem;
  }
}

@media (min-width: 768px) {
  .gallery-images {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr
      3.5rem 1fr 3.5rem 1fr;
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr 3.5rem 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 3.5rem;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .gallery-images > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
  }
  .gallery-images > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 15;
  }
  .gallery-images > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(21) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(22) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(23) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(24) {
    -ms-grid-row: 5;
    -ms-grid-column: 15;
  }
  .gallery-images > *:nth-child(25) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(26) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(27) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(28) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(29) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(30) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(31) {
    -ms-grid-row: 7;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(32) {
    -ms-grid-row: 7;
    -ms-grid-column: 15;
  }
  .gallery-images > *:nth-child(33) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(34) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(35) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(36) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(37) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(38) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(39) {
    -ms-grid-row: 9;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(40) {
    -ms-grid-row: 9;
    -ms-grid-column: 15;
  }
  .gallery-images > *:nth-child(41) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .gallery-images > *:nth-child(42) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .gallery-images > *:nth-child(43) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .gallery-images > *:nth-child(44) {
    -ms-grid-row: 11;
    -ms-grid-column: 7;
  }
  .gallery-images > *:nth-child(45) {
    -ms-grid-row: 11;
    -ms-grid-column: 9;
  }
  .gallery-images > *:nth-child(46) {
    -ms-grid-row: 11;
    -ms-grid-column: 11;
  }
  .gallery-images > *:nth-child(47) {
    -ms-grid-row: 11;
    -ms-grid-column: 13;
  }
  .gallery-images > *:nth-child(48) {
    -ms-grid-row: 11;
    -ms-grid-column: 15;
  }
}

.gallery-images img {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}
.gallery-images img:nth-child(7n + 1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}
.gallery-images img:hover {
  z-index: 2;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

#modalGallery {
  z-index: 61;
}

.modal-content-gallery {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.closeGallery {
  z-index: 70;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.closeGallery:hover,
.closeGallery:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 992px) {
  #booking {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.booking-description {
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .booking-description {
    width: 100%;
    text-align: center;
  }
}

.airbnbandlocation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .airbnbandlocation {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.airbnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .airbnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.airbnb-frame-ziba {
  width: 450px;
  height: 300px;
  margin: auto;
}

@media (max-width: 450px) {
  .airbnb-frame-ziba {
    width: 100%;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .location iframe {
    width: 80%;
  }
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
